[submodule "externals/cantcoap"]
	path = externals/cantcoap
	url = https://github.com/staropram/cantcoap.git
[submodule "externals/tinycrypt"]
	path = externals/tinycrypt
	url = https://github.com/intel/tinycrypt.git
[submodule "externals/compact25519"]
	path = externals/compact25519
	url = https://github.com/DavyLandman/compact25519.git
[submodule "externals/blerouter"]
	path = externals/blerouter
	url = https://github.com/Fraunhofer-AISEC/blerouter.git
[submodule "externals/mbedtls"]
	path = externals/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "externals/jsmn"]
	path = externals/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "externals/zcbor"]
	path = externals/zcbor
	url = https://github.com/NordicSemiconductor/zcbor.git
